<h2>Add a New Word</h2>
<button type="submit" class="btn btn-success"><a class="route" href="/">Home</a></button>

<div>
  <form method="post" action="/addword">
    <fieldset>
      <label for="user_word">Word:</label>
    <input type="text" name="user_word" id="user_word">
    </fieldset>
    <fieldset>
      <label for="user_definition">Definition:</label>
      <textarea name="user_definition" id="user_definition" rows="6" cols="30"></textarea>
    </fieldset>
    <button type="submit" class="btn btn-info">Add</button>
  </form>

</div>
