<h3>Add a new word</h3>

<div>
  <form method="post" action="/addword">
    <fieldset>
      <label for="title"> Add Word</label>
    <input type="text" name="user_word" id="user_word">
    </fieldset>
    <fieldset>
      <label for="definition">Definition:</label>
      <textarea name="user_definition" id="user_definition" rows="10" cols="50"></textarea>
    </fieldset>
    <button type="submit" class="btn btn-info">Add</button>
  </form>
</div>

<div>
<button type="submit" class="btn btn-success"><a href="/">Home</a></button>
</div>
