<h1> <%=  @word.word %></h1>

<p><%=  @word.definition %></p>

<p> ID: <%=  @word.id %> </p>

<button type="submit" class="btn btn-success"><a href="/">Home</a></button>

<br>

<div>
  <form method="post" action="/output/:id">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>
