body {
  background-color: #edeff0;
  font-family: "Helvetica", Arial, sans-serif;
  padding: 40px;
  text-align: center;
  color: #333;
  font-size: 18px;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-family: serif;
  font-size: 50px;
  font-weight: bold;
}

div {
  /* text-align: left; */
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  border-bottom: solid 2px #ddd;
  margin-bottom: 30px;
}


.route {
  color: white;
}


.button {
  display: inline-block;
  background-color: #e15258;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 100px;
  transition: background-color 200ms ease-in-out;
  letter-spacing: 0.05em;
  border: none;
}
